**/bin/
**/obj/
**/out/
TestResults/

*.log


.vscode/
.idea/
*.user
*.suo

.git/
.gitignore

.DS_Store
Thumbs.db

.env
secrets.json
**/appsettings.Development.json
**/appsettings.Local.json

**/Logs/
**/Uploads/